
<mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="customerId" [matAutocomplete]="auto">
    <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="searchTransaction()">
        <mat-option *ngFor="let option of filteredCustomerList | async" [value]="option">
            {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<h3>Balance: {{total}}</h3>
<mat-table [dataSource]="transactions">
    <!-- User name Definition -->
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.date | date: 'dd MMM yy hh:mm a'}} </mat-cell>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.customerName}} </mat-cell>
    </ng-container>

    <!-- Title Definition -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="{'red': row.amount < 0, 'green': row.amount > 0}"> {{row.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="billnumber">
        <mat-header-cell *matHeaderCellDef> Bill Number </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.billNumber}} </mat-cell>
    </ng-container>


    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['username', 'age', 'title','billnumber']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['username', 'age', 'title','billnumber']"></mat-row>
</mat-table>